.login{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: hsl(0, 0%, 0%, 0.15);
}
.login-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 70%;
    width: 70%;
}
.login-title{
    color: #1775ee;
    font-size: 2.5rem;
}
.login-subtitle{
    font-weight: 450;
}

.login-right{
    width: 45%;
    max-width: 45%;
}
.login-right-box{
    background: white;
    padding: 1.2rem 0.95rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
input{
    padding: 1rem 0.7rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    font-size: 1.15rem;
}
.login-btn,.create-btn{
    display: inline-block;
    padding: 0.7rem;
    border-radius: 5px;
    border: 1px solid transparent;
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
}
.login-btn{
    background-color: #1775ee;
}
.create-btn{
    background-color: limegreen;
}
.forgot{
    text-align: center;
    color: #1775ee;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}
.forgot:hover{
    text-decoration: underline;
}
.login-btn:hover{
    background-color: #1666ce;
}
.create-btn:hover{
    background: rgb(39, 168, 39);
}